
  body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #1833a0aa;
  }

  h1,
  h2 {
    color: #553131;
    display: flex;
text-align: center;
justify-content: center;

  }

  button {
    margin: 10px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  #checkInBtn {
    background-color: #8edb91;
    color: white;
  }

  #checkOutBtn {
    background-color: #d87a73;
    color: white;
  }

  #currentShift {
    background: #8ac4fb43;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(83, 83, 83, 0.1);
  }

  #summary {
    background: #8ac4fb43;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(83, 83, 83, 0.1);
  }

  blockquote {
    margin-top: 30px;
    font-style: italic;
    color: #555;  
  }
  #quote{
    display: flex;
    align-self: center;
  justify-content: center;
  }

  .hero {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 0.5em;
  }

  body {
      font-family: Arial, sans-serif;
      padding: 20px;
      background-color: #1833a0aa;
    }
    h1, h2 {
      color: #553131;
    }
    button {
      margin: 10px;
      padding: 10px 15px;
      font-size: 16px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }
    #checkInBtn {
      background-color: #8edb91;
      color: white;
    }
    #checkOutBtn {
      background-color: #d87a73;
      color: white;
    }
    #currentShift, #summary {
      background: #8ac4fb43;
      padding: 15px;
      margin-top: 20px;
      border-radius: 8px;
      /* box-shadow: 0 0 10px rgba(83, 83, 83, 0.1); */
    }
    blockquote {
      margin-top: 30px;
      font-style: italic;
      color: #555;
    }

