
  body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #1833a0aa;
  }

  h1,
  h2 {
    color: #553131;
    display: flex;
text-align: center;
justify-content: center;

  }

  button {
    margin: 10px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  #checkInBtn {
    background-color: #8edb91;
    color: white;
  }

  #checkOutBtn {
    background-color: #d87a73;
    color: white;
  }

  #currentShift {
    background: #8ac4fb43;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(83, 83, 83, 0.1);
  }

  #summary {
    background: #8ac4fb43;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(83, 83, 83, 0.1);
  }

  blockquote {
    margin-top: 30px;
    font-style: italic;
    color: #555;  
  }
  #quote{
    display: flex;
    align-self: center;
  justify-content: center;
  }

  .hero {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 0.5em;
  }

  body {
      font-family: Arial, sans-serif;
      padding: 20px;
      background-color: #1833a0aa;
    }
    h1, h2 {
      color: #553131;
    }
    button {
      margin: 10px;
      padding: 10px 15px;
      font-size: 16px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }
    #checkInBtn {
      background-color: #8edb91;
      color: white;
    }
    #checkOutBtn {
      background-color: #d87a73;
      color: white;
    }
    #currentShift, #summary {
      background: #8ac4fb43;
      padding: 15px;
      margin-top: 20px;
      border-radius: 8px;
      /* box-shadow: 0 0 10px rgba(83, 83, 83, 0.1); */
    }
    blockquote {
      margin-top: 30px;
      font-style: italic;
      color: #555;
    }
    
    
    .box{
      height: 350px;
      width: 350px;
       border-radius: 10px;
      background-color: rgba(22, 22, 109, 0.171);
      box-shadow: 0 0 10px rgba(83, 83, 83, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
      padding: 20px;
      padding-bottom: 50px;
      margin-top: 120px;


    }
    .box h1{
      font-size: 36px;
      text-align: center;
      color: white;

    }
    .box .input-box{
      width: 100%;
      height: 50px;
      margin: 30px 0;
    }
    .input-box input{
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      outline: none;
      border: 2px solid rgb(255, 255, 255, .2);
      border-radius: 20px;
      font-size: 15px;
      color: white;
      padding: 10px 10px 5px px;
      margin-right: 100px;
      

    }
    .input-box input::placeholder{
      color: white;
      

    }
    .remember-forgot{
      display: flex;
      justify-content: space-between;
      font-size: 14.5px;
      margin: -15px 0 15px;
    }
    .remember-forgot label input {
      accent-color: white;
      margin-right: 5px;
    
    }
    .remember-forgot a{
      color: white;
      margin-left: 20px;
    }
    .remember-forgot a:hover{
      text-decoration: underline;
    }
    .btn{
      height: 45px;
      width: 100%;
      background: #fff;
      border: none;
      outline: none;
      border-radius: 20px;
      box-shadow: 0 0 10 rgba(0, 0, 0, 0.1);
      cursor: pointer;
      font-size: 16px;
      color: #333;
      font-weight: 600;

    }
    .register-link{
      font-size: 15px;
      text-align: center;
      margin-top: 20px;
      color: white;
      margin: 20px 0 15px;
    }
    .register-link p a{
      color: #fff;
      text-decoration: none;
      font-weight: 600;
    } 
    .register-link p a:hover{
      text-decoration: underline;
    }

